<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * di.xml
 *
 * @copyright Copyright © 2022 Onecode  All rights reserved.
 * @author    spyros@onecode.gr
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="Magento\Webapi\Controller\Rest">
    <plugin name="Onecode_WebApiLogger::restApiLogger"
            type="Onecode\WebApiLogger\Plugin\Rest"
            sortOrder="100"/>
  </type>
</config>
